:root{
  --primary-color: #97acc5;
  --hover-color: #00b894;
  --background-color: #f9f9f9;
}

body{
    justify-items: center;
    background-color:var(--primary-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

main{
    border-radius: .5rem;
    border-style:double;
    background-color:var(--background-color);
    padding: 1rem;
    max-width: 90%;
    height: 800px;
    width: 75%;
}
legend{
    display: flex;
    align-self: center;
}
h1{
    display: flex;
    justify-self: center;
}
fieldset{
    width: 50%;
    display: flex;
    justify-self: center;
    flex-direction: column;

}
#divDropdown{
    width: 100%;
}

#divInfoForm{
    padding-top: 2rem;
}
#divInfo {
  display: flex;
  gap: 10px;

}

.labels,
.inputs,
.errors {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.labels label {
  text-align: right;
  font-weight: bold;
  line-height: 1.3rem;
}

.errors span {
  color: red;
  font-size: 0.9em;
  line-height: 1.3rem;
}


